@import "~bootstrap/scss/bootstrap";

.keywidth{
    width: 500px;
    max-width: 50%;
    display: inline-block;
}

.cbs-data-flex {
    display: flex;
}

.cbs-data-input {
    width: 30%;
}

.cbs-data-label {
    width: 30%;
}

